<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini BLockhain in Python</title>
</head>
<body>
<h1>Add a transaction</h1>
<form action="_add_transaction">
    <label for="sender">Sender</label>
    <input type="text" name="sender" value="" required>
    <p><label for="receiver">Receiver</label>
    <input type="text" name="receiver" value="" required></p>
    <p><label for="amount">Amount</label>
    <input type="text" name="amount" value="" required></p>
    <p><input type="submit" value="Add"></p>
</form>

</body>
</html>