<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini BLockhain in Python</title>
</head>
<body>
<h1>Add a transaction</h1>
<form method="post" action="_add_transaction">
    <p><label for="sender">Sender</label>
    <input type="text" name="sender" id="sender">
    <select onchange="changeValue();" id="from_wallet" name="from_wallet">
        <option value="" selected>Select From wallet</option>
        {% for i in range(0, wlen)%}
            <option type="text" value={{wallet_api_addr[i]}}>{{wallet_api_addr[i]}}</option>
        {% endfor %}
    </select></p>
    <p><label for="receiver">Receiver</label>
    <input type="text" name="receiver" id="receiver">
    <select onchange="changeValue();" id="dest_wallet" name="dest_wallet">
        <option value="" selected>Select Destination wallet</option>
        {% for i in range(0, wlen)%}
            <option type="text" value={{wallet_api_addr[i]}}>{{wallet_api_addr[i]}}</option>
        {% endfor %}
    </select></p>
    <p><label for="amount">Amount</label>
    <input type="text" name="amount" value="" required></p>
    <p><label for="message">Message</label>
    <input type="text" name="message" value="Type a short message" required></p>
    <!--<p><input type="submit" name="add_transaction" value="Just add the transaction"></p>
    <p><input type="submit" name="add_and_mint" value="Add and mint next block!"></p> -->
    <button type="submit" name="add_transaction" value="add_transaction">Just add the transaction</button>
    <p><button type="submit" name="add_and_mint" value="add_and_mint">Add and mint next block!</button></p>
</form>
<script>
    function changeValue() {
        var from_option=document.getElementById('from_wallet').value;
        var dest_option=document.getElementById('dest_wallet').value;
        console.log(from_option)
      document.getElementById("receiver").value=dest_option;
      document.getElementById("sender").value=from_option;
    }
</script>
</br>
</body>
</html>